{% extends 'base-admin.html' %}
{% load static %}

{% block title %}Admin Lost Items{% endblock title %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/admin-lost-found.css' %}">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.min.css">
{% endblock extra_css %}
{% block content %}

    <!-- Content -->
    <main class="content flex-grow-1">

        <!-- Stats -->
        <div class="row g-3 mb-4">
            <div class="col-md-3">
                <div class="stat-card">
                    <p>Total Items</p>
                    <h3>{{items.count}}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-card warning">
                    <p>Pending</p>
                    <h3>
                        {% regroup items by status as items_by_status %}
                        {% for group in items_by_status %}
                            {% if group.grouper == 'active' %}
                                {{ group.list|length }}
                            {% endif %}
                        {% endfor %}
                    </h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-card success">
                    <p>Matched</p>
                    <h3>
                        {% for group in items_by_status %}
                            {% if group.grouper == 'matched' %}
                                {{ group.list|length }}
                            {% else %}
                                0
                            {% endif %}
                        {% endfor %}
                    </h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-card dark">
                    <p>Closed</p>
                    <h3>

                        {% for group in items_by_status %}
                            {% if group.grouper == 'resolved' %}
                                {{ group.list|length }}
                            {% else %}
                                0
                            {% endif %}
                        {% endfor %}
                    </h3>

                </div>
            </div>
        </div>

        <!-- Lost Items Card -->
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Lost Items</h5>
                <button class="btn btn-primary btn-sm">
                    <i class="bi bi-plus"></i> Add Item
                </button>
            </div>

            <!-- Filters -->
            

            <!-- Table -->
            <div class="table-responsive p-2">
                <table class="table align-middle mb-0 " id="lostItemTable">
                    <thead>
                        <tr>
                            <th>Item ID</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Location Lost</th>
                            <th>Images</th>
                            <th>User</th>
                            <th>Status</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>#LI-{{item.id}}</td>
                            <td>
                                <strong>{{item.title}}</strong>
                            </td>
                            <td>{{item.category.name}}</td>
                            <td>{{item.location_text}}</td>
                            <td>
                                <div class="img-stack">
                                    {% if item.images.first.is_private %}
                                        <img src="data:image/jpeg;base64,{{ item.images.first.base64_image }}" alt="{{ item.title }}" width="20px" height="20px" onclick="window.open('data:image/jpeg;base64,{{ item.images.first.base64_image }}', '_blank')">
                                    {% else %}
                                        <span>
                                        <img src="{{ item.images.first.image.url }}" class="stacked-img" alt="Item Image" width="20px" height="20px" onclick="window.open('{{ item.images.first.image.url }}', '_blank')">
                                    </span>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                {{item.reported_by.username}}
                            </td>
                            <td>
                                {% if item.status == 'active' %}
                                <span class="badge bg-warning-subtle text-warning">Pending</span></td>
                                {% elif item.status == 'matched' %}
                                <span class="badge bg-success-subtle text-success">Matched</span></td>
                                {% elif item.status == 'resolved' %}
                                <span class="badge bg-info-subtle text-info">Resolved</span></td>
                                {% endif %}
                            <td class="text-end">
                                <a href="{% url 'item_details' item.id %}" class="action view">View</a>
                                <form action="{% url 'delete_item' item.id %}" method="post" style="display:inline;"> 
                                    {% csrf_token %}
                                <button onclick="return confirm('Are you sure you want to delete this item?');" class="action delete" type="submit">Delete</button></form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</div>

{% endblock content %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.3.7/js/dataTables.min.js"></script>
<script>
    let table = new DataTable('#lostItemTable', {
        paging: true,
        info: false,
        searching: true,
        columnDefs: [
            { orderable: false, targets: [4, 7] }
        ]
    });
</script>
{% endblock extra_js %}